.hg
.hgignore
.hgtags
.idea
.sonar-ide.properties
*.log
*.iml
*.ipr
*.iws
*.classes
*.sh
.classpath
.project
.settings
x-ray-setup
target
s101plugin.state
/x-ray-services/src/main/webapp/META-INF/context.xml
release.properties
pom.xml.releaseBackup