.hg
.hgignore
.hgtags
.idea
.sonar-ide.properties
derby.log
*.iml
*.ipr
*.iws
*.classes
.classpath
.project
.settings
backupFitnesseWikiTest.sh
x-ray-setup
target
HitsWithSOAP
/HitsWithSoap/HitsWithSoap-war/dist/
/HitsWithSoap/HitsWithSoap-war/build/
/HitsWithSoap/build/
/HitsWithSoap/dist/
/HitsWithSoap/HitsWithSoap-ejb/dist/
/HitsWithSoap/HitsWithSoap-ejb/build/
/HitsWithSoap/HitsWithSoap-ejb/nbproject/private/
/HitsWithSoap/HitsWithSoap-war/nbproject/private/
/HitsWithSoap/nbproject/private/