<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>HTTPRequestInterceptor</filter-name>
        <filter-class>com.abien.xray.http.HTTPRequestRESTInterceptor</filter-class>
        <init-param>
            <param-name>URL-prefix</param-name>
            <param-value>/roller/abien</param-value>
        </init-param>
        <init-param>
            <param-name>serviceURL</param-name>
            <param-value>http://localhost:8080/x-ray/resources/hits</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HTTPRequestInterceptor</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Ping</servlet-name>
        <servlet-class>com.abien.xray.http.Ping</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ping</servlet-name>
        <url-pattern>/roller/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
