<!DOCTYPE html>
<html>
    <head>
        <title>Satellite UI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular.js"></script>
        <script src="lib/app.js"></script>
        <script src="lib/services.js"></script>
        <script src="lib/controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/layout.css" />

    </head>
    <body ng-app="satellite">
        <section ng-controller="gridsController">
            <ul>
                <nav ng-repeat="grid in grids">
                    <li ng-click="cacheSelected(grid)">{{grid}}</li>
                </nav>
            </ul>
            <ul>
                <nav ng-repeat="entry in entries">
                    <li>{{entry}}</li>
                </nav>
            </ul>
        </section>
    </body>
</html>
